/* recent-content */
.recent-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* recent-container */
.recent-container {
    width: 100%;
    max-width: 150vh;
    padding: 20px;
    padding-bottom: 60px;  /* 增加底部内边距 */
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;  /* 使分页定位相对于该容器 */
}

/* 表单标题 */
.recent-container h3 {
    text-align: center;
    font-size: 26px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* 物品修改历史列标题 */
.item-history-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  /* 每列宽度均分 */
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

/* 每个列标题 */
.item-history-header span {
    text-align: center;
    font-size: 18px;
    color: #333;
    padding: 0 10px;
}

/* 物品修改历史行样式 */
.item-history-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  /* 每列宽度均分 */
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* 每行物品内容 */
.item-history-row span {
    font-size: 16px;
    color: #333;
    text-align: center;  /* 确保每列内容居中 */
    padding: 0 10px;
}

/* 记录中的物品名称 */
.recent-item-name {
    cursor: pointer;  /* 显示手形光标 */
    text-decoration: underline;  /* 添加下划线 */
}

/* 分页控件 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;  /* 绝对位置固定在容器底部 */
    width: 100%;  /* 使分页控件宽度占满容器 */
    bottom: 20px;  /* 固定在容器底部，距离底部20px */
    left: 0;  /* 从左边开始，使用绝对位置脱离了文档流，只能如此定位 */
    right: 0;  /* 从右边结束 */
    margin: auto;  /* 让它居中 */
}

.page-btn {
    padding: 8px 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    transition: background-color 0.2s ease;
}

.page-btn:hover {
    background-color: #45a049;
}

.page-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.page-info {
    font-size: 16px;
    color: #333;
}

/* 渐变效果 */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
