.search-container {
    width: 50vw;
    margin: 0 auto;
    padding-top: 1.33vw;
    padding-bottom: 5.33vw;
    flex-direction: column;
    position: relative;  /* 使分页定位相对于该容器 */
    min-height: 50vw;
}

/* 搜索框 */
.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1.33vw;
}

#search-input {
    width: 20vw;
    padding: 0.67vw;
    border: 0.07vw solid #ccc;
    border-radius: 1vw;
    font-size: 1vw;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;  /* 平滑过渡 */
}

/* 搜索框输入框聚焦时的效果 */
#search-input:focus {
    border-color: #FFCBA4;  /* 获得焦点时变为绿色边框 */
    box-shadow: 0 0 0.8vw #E9967A;  /* 输入框周围的绿色阴影 */
    outline: none;  /* 去除默认的蓝色边框 */
}

/* 搜索按钮 */
#search-btn {
    padding: 0.67vw 1.33vw;
    margin-left: 0.67vw;
    background-color: #FFCBA4;  /* 按钮背景色 */
    color: white;
    border: none;
    border-radius: 1vw;  /* 圆角 */
    cursor: pointer;
    font-size: 1vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* 添加过渡效果 */
    box-shadow: 0 0.4vw 0.4vw rgba(0, 0, 0, 0.2), 0 0.4vw 0.4vw rgba(0, 0, 0, 0.2);  /* 初始阴影效果 */
}

/* 搜索按钮悬停时效果 */
#search-btn:hover {
    transform: translateY(-0.4vw);  /* 鼠标悬停时按钮上浮 */
    box-shadow: 0 0.4vw 0.4vw rgba(0, 0, 0, 0.2), 0 0.4vw 0.4vw rgba(0, 0, 0, 0.2);  /* 增加阴影效果 */
}

/* 搜索按钮按下时的效果 */
#search-btn:active {
    transform: translateY(0.4vw);  /* 按钮按下时微微下移 */
    box-shadow: 0 0.4vw 0.4vw rgba(0, 0, 0, 0.2), 0 0.4vw 0.4vw rgba(0, 0, 0, 0.2);  /* 按钮按下时阴影效果减弱 */
}

/* 旋转等待图标，这是固定在屏幕中心的基础上往右下移动一点到核心区域 */
.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(6.67vw, 3.33vw); /* 向右下方移动一点 */;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 0.27vw solid rgba(255, 255, 255, 0.3);
    border-top: 0.27vw solid #3498db;
    border-radius: 50%;
    width: 2.67vw;
    height: 2.67vw;
    animation: spin 1s linear infinite;
}

/* 旋转动画 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 物品名片容器 */
.item-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 每行显示 3 列 */
    gap: 4vw;  /* 增加名片之间的间距 */
    padding: 1.33vw;  /* 为了让网格不直接贴边 */
    max-width: 80vw;
    margin: 0 auto;  /* 居中容器 */
}

/* 每个物品名片 */
.item-card {
    background-color: #fff;  /* 背景色为白色 */
    border-radius: 1vw;  /* 圆角 */
    box-shadow: 0 0.27vw 0.8vw rgba(0, 0, 0, 0.1), 0 0.27vw 1.67vw rgba(0, 0, 0, 0.15);  /* 立体感的阴影效果 */
    overflow: hidden;  /* 使图片和内容不超出边界 */
    cursor: pointer;  /* 鼠标悬停时显示指针 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* 平滑过渡效果 */
    padding: 1vw;
    text-align: center;
    height: 100%;
    animation: fadeIn 0.5s ease-in-out;  /* 比起上面，放在这里动画更加的平滑自然 */
}

/* 鼠标悬停时 */
.item-card:hover {
    transform: translateY(-0.67vw);  /* 上浮效果 */
    box-shadow: 0 0.53vw 1.33vw rgba(0, 0, 0, 0.3), 0 0.53vw 2.33vw rgba(0, 0, 0, 0.3);  /* 增加阴影，带来更强的立体感 */
}

/* 图片 */
.item-card img {
    width: 100%;
    height: 12vw;  /* 更高的图片高度 */
    object-fit: cover;  /* 确保图片填充并保持比例 */
    border-radius: 0.67vw;  /* 图片圆角 */
}

/* 名字样式 */
.item-card h4 {
    font-size: 1.33vw;
    font-weight: 600;
    margin: 1vw 0;
    color: #333;  /* 使用深色字体 */
    text-transform: uppercase;  /* 大写字母 */
    letter-spacing: 0.07vw;  /* 字母间距 */
    transition: color 0.2s ease;  /* 字体颜色平滑过渡 */
}

/* 名片上的其他信息 */
.item-card p {
    font-size: 0.93vw;
    color: #777;  /* 其他信息字体颜色 */
    margin: 0.33vw 0;
    line-height: 1.6;
}

/* 鼠标悬停时名字的颜色变化（改为绿色） */
.item-card:hover h4 {
    color: #FFCBA4;  /* 鼠标悬停时改变标题颜色为绿色 */
}

/* 没有找到相关物品的提示信息样式 */
.no-results-message {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(8.33vw, 4.33vw); /* 固定于屏幕中间，再往右下一点点 */
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.4vw;
    color: #F8F4E3;
    font-weight: bold;
    z-index: 100; /* 确保提示信息在最上层 */
}


/* 右键菜单的样式 */
.context-menu {
    position: fixed; /* 固定在页面上的某个位置 */
    background-color: #fff;
    border: 0.07vw solid #ccc;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2);
    z-index: 9999; /* 确保在所有元素之上 */
    display: none; /* 默认隐藏 */
    padding: 0.67vw;
    width: 6.67vw;
    border-radius: 1vw;
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu ul li {
    padding: 0.67vw 1.33vw;
    padding-left: 1.53vw;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.context-menu ul li:hover {
    background-color: #f0f0f0;
}

/* 分页控件直接用recent的那个*/
