/* 用户信息容器 */
.user-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.33vw;
}

/* 用户信息表单 */
.user-info-form {
    background-color: #fff;
    padding: 1.33vw;
    border-radius: 1vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.3), 0 0.4vw 0.8vw rgba(0, 0, 0, 0.3);
    width: 60%;
    max-width: 66.67vw;
    box-sizing: border-box;
    animation: fadeIn 0.7s ease-in-out;
}

/* 头像区域 */
.avatar-container {
    text-align: center;
    margin-bottom: 1.33vw;
}

.avatar-img {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.67vw;
    border: 0.13vw solid #ddd;
    cursor: pointer;
}

#avatar-upload {
    display: none;
}

/* 每行信息 */
.info-row {
    display: flex;
    align-items: center;
    padding: 0.67vw 0;
    border-bottom: 0.07vw solid #ddd;
    width: 100%;
}

/* 信息标签 */
.info-label {
    font-size: 1.07vw;
    font-weight: bold;
    color: #333;
    text-align: left;
    width: 30%;
    min-width: 8vw;
}

/* 信息值 */
.info-value {
    font-size: 1.07vw;
    color: #555;
    text-align: left;
    width: 40%;
    min-width: 13.33vw;
    word-wrap: break-word;
    flex-grow: 1;
}

/* 编辑按钮 */
.edit-btn {
    padding: 0.4vw 0.8vw;
    background-color: #FFCBA4;
    color: white;
    border: none;
    border-radius: 0.33vw;
    cursor: pointer;
    font-size: 0.93vw;
    margin-left: 1.33vw;
}

/* 编辑按钮悬浮 */
.edit-btn:hover{
    background-color: #E9967A;
}

/* 弹窗样式 */
.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 1.33vw;
    border-radius: 1vw;
    max-width: 40vw;
    min-height: 20vw;
    width: 90%;
    text-align: center;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.3), 0 0.4vw 0.8vw rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-word;
}

/* 输入框样式 */
.modal-content input {
    width: 100%;
    padding: 0.8vw;
    margin-bottom: 1vw;
    border: 0.07vw solid #ddd;
    border-radius: 0.33vw;
    box-sizing: border-box;
    height: 2.67vw;
    word-wrap: break-word;
    word-break: break-word;
}

/* 文本框样式 */
.modal-content textarea {
    width: 100%;
    height: 100%;
    padding: 0.8vw;
    margin-bottom: 1vw;
    border: 0.07vw solid #ddd;
    border-radius: 0.33vw;
    box-sizing: border-box;
    height: 13.33vw;
    resize: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* 修改信息标题 */
.modal-content h4 {
    font-size: 1.6vw;
    margin-bottom: 0.67vw;
}

/* 修改弹窗的按钮*/
.modal-content button {
    padding: 0.53vw 0.8vw;
    background-color: #FFCBA4;
    color: white;
    border: none;
    border-radius: 0.33vw;
    cursor: pointer;
    font-size: 1.07vw;
}

/* 按钮悬浮 */
.modal-content button:hover {
    background-color: #E9967A;
}

/* 额外按钮行 */
.extra-button-row {
    display: flex;
    justify-content: center;
    margin-top: 1.33vw;
    gap: 2vw;
}

/* 额外按钮样式 */
.extra-btn {
    padding: 0.53vw 1.07vw;
    background-color: #f44336; /* 红色 */
    color: white;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    margin: 0 0.33vw; /* 按钮之间留一些间隙 */
    font-size: 1.07vw;
}

/* 按钮悬浮 */
.extra-btn:hover {
    background-color: #d32f2f;
}

/* 成功消息样式 */
.success {
    color: green;
    font-size: 1.33vw;
    text-align: center;
    margin-top: 1.33vw;
}

/* 错误消息样式 */
.error {
    color: red;
    font-size: 1.33vw;
    text-align: center;
    margin-top: 1.33vw;
}

/* 渐变效果 */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-6.67vw);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}